.about{
    padding-top: 120px;
    &__wrapper{
        display: grid;
        grid-template-columns: 640px 670px;
        grid-template-rows: 650px minmax(15px, auto) minmax(245px, auto);
        grid-auto-rows: minmax(245px, auto);
        column-gap: 50px;
        row-gap: 20px;
    }
    &__photo{
        grid-row: 1/3;
        img{
            width: 100%;
    }   }
    
    &__text{
        margin: 10px;
        min-width: 500px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
    &__skills-text{
        min-width: 300px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        margin: 8px -2px;
    }
    &__skills{
        display:grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        column-gap:50px;
        row-gap: 20px;
        margin: -452px 42px;
        
    }
    &__item{
        display: grid;
        grid-template-columns: 10px 200px;
        column-gap:10px;
    }
   
   


    
}

.web{
    margin: 0px -35px;
    cursor: pointer;
    &:hover{
        content:'';
        transform: rotate(-360deg);
        transition: 2.9s all;
    }
}    

