@media (max-width: 575px){

.hamburger:hover{
    transform: rotate(9deg);
}   

html {
    overflow-x: hidden;
      }
    
body{
    overflow-x: hidden;
    }

.promo{
    width: 100%;
}

.title_fz16{
    font-size: 14px;
}

.title_fz48{
    font-size: 30px;
    line-height: 45px
}

.sidepanel{
    display: none;
}

.menu__block{
    width: 80%;
    height: 500px;
}

.about{
margin: -73px 0px;
}

#wr{
display: block;
}

#skil{
    margin: 36px 46px;
    width:100%;

}


#skiltext{
    width: 100px;
    margin: 15px -4px;
}

.title_fz36{
    font-size: 25px;
}

.about__descr{
    width:25%;
}

.about__photo{
    width: 35%;
    height: 35%;
} 



p{
    width:75%;
}
 

#container_resume{
    width:100%;
}

#resume__wrapper{
    padding:  10px 0px 0px 22px;
    display: block;
}

#fra{
    width:100%;
    margin:2px 0px;   
    padding: 0px;
}

#frameworks__wrapper{
    display: grid;
    grid-template-columns: repeat(1,270px);
    margin: 10px 10px;
}  

#frameworks__elem{
    margin: 10px 61px 10px;
}






}