@media (max-width: 870px){
    .hamburger:hover{
        transform: rotate(9deg);
    }   

    html {
        overflow-x: hidden;
          }
        
    body{
        overflow-x: hidden;
        }
    
    #promo{
        width: 100%;
    }
    
    #wr{
        display: grid;
        grid-template-columns: 252px 430px;
        grid-template-rows: 231px minmax(15px, auto) minmax(245px, auto);
        grid-auto-rows: minmax(245px, auto);
        column-gap: 5px;
        row-gap: 20px;
    }
    
    .about__photo{
        width:100%;
    }
    
    .sidepanel{
        display: none;
    }

    .menu__block{
        height: 317px;
        padding-top: 27px;
    }

    #resume__wrapper{
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2,254px);
        column-gap: 135px;
    }
    
    #container_resume{
        width:100%;
    }

    #frameworks__wrapper{
        display: grid;
        grid-template-columns: repeat(3,270px);
        column-gap: 13px;
        row-gap: 13px;
    }
    
    #work__me {
        display: grid;
        grid-template-columns: repeat(3,269px);
    }

    #contacts__wrapper{
        padding: 0px 140px 0px 6px;
    }

    #resume{
        padding-top: 4px;
    }

    #frameworks__elem{
        width: 248px;
    }
    
    #contacts__form{
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 200px);
        width:10px;
    }
}



@media (max-width: 575px){

.hamburger:hover{
    transform: rotate(9deg);
}   

html {
    overflow-x: hidden;
      }
    
body{
    overflow-x: hidden;
    }

.promo{
    width: 100%;
}

.title_fz16{
    font-size: 14px;
}

.title_fz48{
    font-size: 30px;
    line-height: 45px
}

.sidepanel{
    display: none;
}

.menu__block{
    width: 80%;
    height: 500px;
}

.about{
margin: -73px 0px;
}

#wr{
display: block;
}

#skil{
    margin: 36px 46px;
    width:100%;

}


#skiltext{
    width: 100px;
    margin: 15px -4px;
}

.title_fz36{
    font-size: 25px;
}

.about__descr{
    width:25%;
}

.about__photo{
    width: 35%;
    height: 35%;
} 



p{
    width:75%;
}
 

#container_resume{
    width:100%;
}

#resume__wrapper{
    padding:  10px 0px 0px 22px;
    display: block;
}

#fra{
    width:100%;
    margin:2px 0px;   
    padding-top: 73px;
}

 #frameworks__wrapper{
    display: grid;
    grid-template-columns: repeat(1, 270px);
    margin: 10px 10px;
}   
 
#frameworks__elem{
    margin: 10px 61px 10px;
}

.meportfolio{
    width:100%;
}

#work__me{
    display: grid;
    grid-template-columns: repeat(1,280px);
    row-gap:2px;
    margin: 10px 70px;
}

#contacts__wrapper{
    display: block;
    
}
#contacts__descr{
    width:100%;
}

#contacts__form{
    display: block;
    width: 350px;
    top: 10px;
}

.contacts__input{
    margin: 19px 0px;
}

#contacts__triggers{
    display: grid;
    grid-template-columns: repeat(1, auto);
}

.contacts__photo{
    display: none;
}

#resume{
    padding-top: 43px;
}

}





