@media (max-width: 575px){

html {
    overflow-x: hidden;
      }
    
body{
    overflow-x: hidden;
    }

.promo{
    width: 100%;
}

.title_fz16{
    font-size: 14px;
}

.title_fz48{
    font-size: 30px;
    line-height: 45px
}

.sidepanel{
    display: none;
}

.menu__block{
    width: 80%;
    height: 500px;
}

.about{
margin: -73px 0px;
}

#wr{
display: block;
}

#skil{
    margin: 36px 46px;
    width:100%;

}


#skiltext{
    width: 100px;
    margin: 15px -4px;
}

.title_fz36{
    font-size: 25px;
}

.about__descr{
    width:25%;
}

.about__photo{
    width: 35%;
    height: 35%;
} 



p{
    width:75%;
}
 
}