.meportfolio{
    padding-top: 200px;
    min-height: 700px;
}

.work__me{
    display: grid;
    grid-template-columns: repeat(4,280px);
    img:hover{
        content: '';
        filter: grayscale(50%);
        transform: scale(0.9);
        transition: 0.6s all;
    }

    
    
    
}