.resume{
    padding-top: 126px;

    &__title{
        text-align: center;
    }
    &__subtitle{
        text-align: center;
    }
    &__wrapper{
        padding: 60px 65px 0px 65px;
        display: grid;
        grid-template-columns: repeat(2, 583px);
        column-gap:135px;
    }
    &__column{
        &-title{
            position: relative;
            padding-left: 35px;
            &::before{
                content:'';
                position: absolute;
                width: 15px;
                height: 15px;
                background:$main-color;
                border-radius:100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);

            }
        }
        ul{
            list-style-type: none;
            li{
                position: relative;
                &:after{
                    content:'';
                    width: 1px;
                    height: 87px;
                    position: absolute;
                    top:-17px;
                    left:0;
                    background-color: black;

                }
            }
        }

    }
    &__item{
        position: relative;
        &:before{
            content:'';
            height: 1px;
            width: 40px;
            top: 70px;
            position: absolute;
            background-color: black;
        }
        &-head{
            position: relative;
            padding: 45px 0 0 100px;
           
        }
        &-body{
            padding-left: 43px;
            margin-top: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
        &-icon{
            position: absolute;
            top: 55px;
            left: 40px;
        }
        &-local{
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
    }
}



.circle_resume{
    position: relative;
    padding-left: 10px;
    z-index: 2;
    @include before_circle;
}

.diviader_resume{
    display: block;
    margin: 20px auto;
    width:200px;
    
}